body {
    margin: 0;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;
}

.main {
    height: 115vh;
    width: 800px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
    animation-name: start3;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
    transform: none;
}
@keyframes start3 {
    from {
        transform: none;
    }
    to {
        transform: translateY(20%);
    }
}
.navbar {
    width: 800px;
    height: 2.5rem;
    position: fixed;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.home1 {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
    text-decoration: none;
}
.home1:hover {
    background-color: rgba(255,232,31,255);
}
.home-button {
    border: none;
    background-color: transparent;
    font-family: "Bebas Neue", sans-serif , arial;
    color: rgba(255,84,33,255);
    font-weight: 700;
    font-size: 2rem;
}
.order {
    height: auto;
    width: auto;
    font-family: "Bebas Neue", sans-serif , arial;
    color: rgba(255,232,31,255);
    font-weight: 700;
    font-size: 2.5rem;
    text-align: left;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.date {
    text-align: end;
}